<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Contact us</title>
</head>

<body>
    <main>
        <div id="cont">
            <div id="main">
                <h1>Welcome</h1>
                <div id="maintop">
                    <div class="toyy"><img src="../img/pexels.png" alt=""></div>
                    <div class="toy">
                        <h2>Who We Are</h2><br><br>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, atque. Sint laboriosam accusantium aut, quaerat aliquid, maxime laudantium repellat assumenda autem odit totam placeat possimus magnam obcaecati inventore officia? Quidem rem perferendis
                            velit iste ipsa architecto tempora, obcaecati facere repudiandae veritatis dignissimos itaque dolorem rerum numquam debitis doloribus omnis iure?
                        </p><br>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis officia quos distinctio minima possimus eos explicabo animi qui minus earum voluptas corporis, ea saepe inventore assumenda, quas deserunt non a modi quibusdam eveniet cupiditate eius itaque
                            obcaecati? Molestiae recusandae ratione accusantium aliquam. Sit distinctio voluptates doloremque soluta unde quibusdam odit quam voluptatum.
                        </p>
                    </div>
                </div>
                <div id="contact">
                    <div>
                        <form action="/contact" method="POST">
                            <h1>Contact Us</h1><br>
                            <p id="msg"></p>
                            <label for="firstname">First Name</label><br>
                            <input type="text" name="firstName" id="firstname">
                            <br><br>
                            <label for="lastname">Last Name</label><br>
                            <input type="text" name="lastName" id="lastname">
                            <br><br>
                            <label for="txt">Your Message</label><br>
                            <textarea name="message" id="txt" cols="20" rows="10" style="resize:none;"></textarea><br><br>
                            <button type="submit">
                       Submit</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </main>
</body>
<script src="../js/app.js"></script>

</html>