<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Test API</title>
</head>

<body>
    <main>
        <section>
            <h1>Welcome to Test API Documentation</h1>
            <h3>Our Documentation page is currently under development</h3>
            <!-- <br> -->
            <h3><a href="https://documenter.getpostman.com/view/9349096/UV5dfF5b">Visit our postman Documentation </a></h3>
            <br>
            <img src="/img/undraw_programming_2svr.svg" alt="Under Construction">
        </section>
    </main>
</body>


</html>